<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Wheel Alignment Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <style>
            body {
              padding-top: 50px;
              padding-bottom: 20px;
            }
        </style>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">Wheel Alignment Tool</h1>
            <p>NOTE: Left and right are determined as if you were sitting in the car looking toward the front.</p>
            <h3 id="connecting">Connecting...</h3>
            <h3 id="reading-title" class="readings"></h3>
            <p id="reading-instruction" class="readings"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 offset-md-2 readings">
            <h3>Readings:</h3>
            <h4>Car Body = <span id="car-body"></span></h4>
            <h4>Left Wheel = <span id="left-wheel"></span></h4>
            <h4>Right Wheel = <span id="right-wheel"></span></h4>
          </div>
          <div class="col-sm-4 readings">
            <h3>Alignment:</h3>
            <h4>Left Wheel = <span id="left-wheel-alignment"></span></h4>
            <h4>Right Wheel = <span id="right-wheel-alignment"></span></h4>
          </div>
        </div>

        <div class="row" id="controls">
          <div class="col-sm-4">
            <h3>Orientation (degrees):</h3>
            <h4>Heading = <span id="heading">0</span></h4>
            <h4>Roll = <span id="roll">0</span></h4>
            <h4>Pitch = <span id="pitch">0</span></h4>
          </div>
          <div class="col-sm-4">
            <h3>Calibration:</h3>
            <h4>(0=uncalibrated, 3=fully calibrated)</h4>
            <h4>System = <span id="calSys">0</span></h4>
            <h4>Gyro = <span id="calGyro">0</span></h4>
            <h4>Accelerometer = <span id="calAccel">0</span></h4>
            <h4>Magnetometer = <span id="calMag">0</span></h4>
          </div>
          <div class="col-sm-4">
            <h3>Actions:</h3>
            <form>
              <div class="form-group">
                <button type="button" class="btn btn-primary" id="take-reading">Take Reading</button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" id="reset">Reset</button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" id="saveCalibration">Save Calibration</button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" id="loadCalibration">Load Calibration</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/DDSLoader.js') }}"></script>
      <script src="{{ url_for('static', filename='js/MTLLoader.js') }}"></script>
      <script src="{{ url_for('static', filename='js/OBJMTLLoader.js') }}"></script>
      <script src="{{ url_for('static', filename='js/OBJLoader.js') }}"></script>
      <script src="{{ url_for('static', filename='js/STLLoader.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script>
      $(document).ready(function() {

        // Global state.
        var bnoData = null;
        var currentStep = 0;
        var steps = [
          {title: 'Car Body Reading', value: null, helpText: 'Take a reading of the car body', element: $('#car-body')},
          {title: 'Left Wheel Reading', value: null, helpText: 'Take a reading of the left wheel', element: $('#left-wheel')},
          {title: 'Right Wheel Reading', value: null, helpText: 'Take a reading of the right wheel', element: $('#right-wheel')}
        ];

        // Start with main controls hidden until connected.
        $('#controls').hide();
        // Start with readings hidden until connected.
        $('.readings').hide();

        // Take reading button click handler.
        $('#take-reading').click(function() {
          // Store the current value and display
          steps[currentStep].value = bnoData.heading;
          steps[currentStep].element.text(steps[currentStep].value);

          // Check what step it is
          if (currentStep === 2) {
            // Disable take reading button
            $('#take-reading').prop('disabled', true);
            // Calculate alignment
            calculateAlignment();
            // Set text to reset stuff
            $('#reading-title').text('Reset to measure again');
            $('#reading-instruction').text('');
          } else if (currentStep === 1) {
            // Calculate alignment
            calculateAlignment();
            currentStep++;
            displayReadingInfo();
          } else if (currentStep === 0){
            currentStep++;
            displayReadingInfo();
          }
        });

        // Reset button click handler.
        $('#reset').click(function() {
          // Reset current step back to 0
          currentStep = 0;
          // Render title/instruction
          displayReadingInfo();
          // Reset reading values
          $('#car-body').text('');
          $('#left-wheel').text('');
          $('#right-wheel').text('');
          $('#left-wheel-alignment').text('');
          $('#right-wheel-alignment').text('');
          // Reset values
          steps[0].value = null;
          steps[1].value = null;
          steps[2].value = null;
          // Enable take reading button
          $('#take-reading').prop('disabled', false);
        });

        // Save calibration click handler calls the /save_calibration API.
        $('#saveCalibration').click(function() {
          $.post("{{ url_for('save_calibration') }}");
        });

        // Load calibration click handler calls the /load_calibration API.
        $('#loadCalibration').click(function() {
          $.post("{{ url_for('load_calibration') }}");
        });

        // Function to calculate alignment
        function calculateAlignment() {
          // Toe angles (+/-) are measured opposite on left right
          // If step is 1 we are looking at the left wheel
          if (currentStep === 1) {
            var angle = calcAngleTranslation(parseFloat(step[0].value), parseFloat(step[currentStep].value));
            $('#left-wheel-alignment').text(angle * -1);
          }
          // if step is 2 we are looking at the right wheel
          else if (currentStep === 2) {
            $('#right-wheel-alignment').text(calcAngleTranslation(parseFloat(step[0].value), parseFloat(step[currentStep].value)));
          }
          else {
            console.log('Not sure why this method is being called right now.');
          }
        }

        // Function to calculate the relative angle translation clockwise/counter of two angles
        // Clockwise being a positive translation and negative being a counter clockwise translation
        function calcAngleTranslation(a, b) {
          if (a === b) {
              return 0;
          }

          var diff = b - a;
          var abs_diff = Math.abs(diff);

          if (abs_diff === 180) {
            return abs_diff;
          }
          else if (abs_diff <= 180) {
            return diff;
          }
          else if (b > a) {
            return abs_diff - 360;
          }
          else {
            return 360 - abs_diff;
          }
        }

        // Function to calculate the closest diff of two angles
        function closestAngleDiff(a, b) {
          var phi = Math.abs((b - a)) % 360;
          if (phi > 180) {
            return 360 - phi;
          }
          return phi;
        }

        // Function to handle display of reading data
        function displayReadingInfo() {
          $('#reading-title').text(steps[currentStep].title);
          $('#reading-instruction').text(steps[currentStep].helpText);
        }

        // Function called when a new sensor reading is received.
        function updateSensorData(data) {
          // Save the reading then update the UI.
          bnoData = data;
          $('#heading').text(data.heading);
          $('#roll').text(data.roll);
          $('#pitch').text(data.pitch);
          $('#calSys').text(data.calSys);
          $('#calGyro').text(data.calGyro);
          $('#calAccel').text(data.calAccel);
          $('#calMag').text(data.calMag);
        }

        // Create server sent event connection to receive BNO sensor data.
        var server = new EventSource('/bno');
        // Add server sent event handlers.
        server.onmessage = function(e) {
          // Update BNO sensor values.
          updateSensorData(JSON.parse(e.data));
        };
        server.onopen = function(e) {
          // Hide connecting status and show controls when connection is made.
          $('#connecting').hide();
          $('#controls').show();
          $('.readings').show();
          displayReadingInfo();
        };
        server.onerror = function(e) {
          // Hide controls and show connecting status if connection closes.
          $('#controls').hide();
          $('.readings').hide();
          $('#connecting').show();
        };
      });
      </script>
    </body>
</html>
